127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.12.10 node1
192.168.12.11 node2
192.168.12.12 node3
192.168.12.13 node4
